# JetBrains project files
.idea

# Cloud
.cloud

# Cloud
.update_backup

# NPM
node_modules

# NativeScript application
hooks
platforms

# Api Key
app/components/key.js

# Bundles
Prevenapp.aab

.DS_Store
**/*.log
tags
.vscode

### Vue ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
